
        <form class="d-flex">
          <button class="btn btn-outline-dark" type="submit">
            <i class="bi-cart-fill me-1"></i>
            Total Invested
            <span class="badge bg-dark text-white ms-1 rounded-pill">{{totalInvested}}</span>
          </button>
        </form>
        <form class="d-flex">
          <button class="btn btn-outline-dark" type="submit">
            <i class="bi-cart-fill me-1"></i>
            Active Auctions
            <span class="badge bg-dark text-white ms-1 rounded-pill">{{totalAuctions}}</span>
          </button>
        </form>
        <form class="d-flex">
          <button class="btn btn-outline-dark" type="submit">
            <i class="bi-cart-fill me-1"></i>
            Alerts
            <span class="badge bg-dark text-white-50 ms-1 rounded-pill">!</span>
          </button>
        </form>
