<div class="kontakt">
  <section>
      <h2> Contact us through the following details </h2>
  </section>
<br>

      <footer>
          <div class="website">
            <p>Click the following link and send us an email or find out our location:</p>
            <br>
            <i class="material-icons">mail</i>
              <a href="mailto: goldenspace@gmail.com" target="_blank">&nbsp;GMAIL</a>
              <br><br>
              <i class='fas fa-map-marker-alt' style='font-size:24px'></i>
<a href="https://www.google.com/maps/place/Blloku,+Tirana,+Albania/@41.3197925,19.8128771,16z/data=!3m1!4b1!4m5!3m4!1s0x13503102c27b29a1:0x83c76478ab685ee!8m2!3d41.3193679!4d19.8172099"target="_blank">&nbsp;Location</a>
              <br><br>
              <i class='fas fa-phone' style='font-size:24px'></i>
              <p class="Fix Line">Fix Line +311 00400400</p>
          </div>
      </footer>
