<div class="main">
  <section>
      <h1>Get to know us more! </h1>
  </section>
<br>
<p class="paragrafi"><strong>Golden Space Company </strong>offers significant experience auctioning vehicle contents,
retail auctions, business inventory and commercial asset auctions.
All of our team members are dedicated and trained professionals representing more than
100 cumulative years of knowledge and experience in the auction industry.
 Our staff includes auctioneers, brokers, administrative personnel, clerks, etc.
 <br><br>
 Our clients include local municipalities, businesses, banks, attorneys, individuals, estates, Federal and New York State agencies, the court system and recognized charities. We maintain substantial fidelity bonding, $2,000,000
  insured liability protection and can provide impeccable business and personal references.
</p>
</div>
