
<header class=homepage>
  <div class="py-5" style="background-size: contain;background-image: url(../../../../assets/images/auctions/golden.webp)">
    <div class="container">
      <app-auction-search></app-auction-search>
      <div class="text-center text-white">
        <h1 class="display-4 fw-bolder text-white mb-0">Start your bidding journey!</h1>
        <p class="lead fw-normal text-white mb-0">Discover the latest auctions </p>
      </div>
    </div>

  </div>

  <div class="container px-4 px-lg-5 my-5">
    <app-activeauctions></app-activeauctions>
    <app-finishedauctions></app-finishedauctions>
    <app-news></app-news>
  </div>
</header>
